@{
    ViewBag.Title = "صفحه اصلی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row voffset1">
    <div class="col-md-1 col-lg-1 col-xs-1"></div>
    <div class="col-md-10 col-lg-10 col-xs-10">
        سلام
    </div>
    <div class="col-md-1 col-lg-1 col-xs-1"></div>
</div>